<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.poo.progra2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitiesPracticante.PracticanteActivity"
            android:label="Bienvenido Practicante"
            app:fontFamily="@font/aldrich" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ActivitiesPracticante.RegistrarEntregableActivity"
            android:label="Registrar Entregables" />
        <activity
            android:name=".ActivitiesPracticante.CalendarioPracticanteActivity"
            android:label="Consultar notas" />
        <activity
            android:name=".ActivitiesPracticante.MinutaActivity"
            android:label="Crear minuta de reunión" />
        <activity
            android:name=".ActivitiesAsesor.AsesorActivity"
            android:label="Bienvenido Profesor Asesor" />
        <activity
            android:name=".ActivitiesAsesor.CalendarioAsesorActivity"
            android:label="Consultar calendario de entregables" />
        <activity
            android:name=".ActivitiesAsesor.AsignarNotaActivity"
            android:label="Asignar nota a un entregable" />
        <activity android:name=".ActivitiesAsesor.ConsultarEntregableActivity" />
        <activity android:name=".ActivitiesAsesor.SolicitarReunionActivity" />
        <activity android:name=".ActivitiesAsesor.ConsultarMinutasActivity"></activity>
    </application>

</manifest>